<h2>Lista de Usuarios</h2>

<input type="text" [(ngModel)]="searchValue" (keyup)="filterList()">

<table>
    <tr>
        <th>Nombre</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr *ngFor="let user of filteredUsers">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <!-- <a routerLink="/albums" [queryParams]="{userId:user.id}">Ver albums</a> -->
            <a [routerLink]="user.id+'/albums'">Ver albums</a>
        </td>
    </tr>
</table>